name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build Docker
        run: docker-compose build --no-cache

      - name: Copy environment
        run: cp .env.template .env